* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 2px black; */
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    max-width: 70%;
    height: auto;
    padding: .625em;
    background-color: white;
    box-shadow: 1em .9em 2em gray;
    border-radius: 1em;
}

#quote {
    font-size: 2em;
    position: relative;
    padding: 1em;
}

span {
    display: inline-block;
    text-align: end;
    font-size: 1.5em;
}

.btn-container {
    padding: 1em;
    /* display: flex; */
    width: 50%;
    margin: auto;
    /* flex-direction: column; */
    /* text-align: center; */
    /* justify-self: center; */
    justify-content: center;

}

h3 {
    width: 49%;
    display: inline-block;
}

button {
    /* display: inline-block; */
    width: 49%;
    margin: auto;
    margin-top: .8em;
    display: inline-block;
    border-radius: 1em;
    padding: .3em;
    transition-duration: .2s;
    font-size: .8em;
    background-color: white;
}

#btn-start:active {
    transform: scale(1.05);
}

#btn-start:hover {
    background-color: darkgoldenrod;
    color: white;
}