* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    max-width: 70%;
    height: auto;
    padding: .625em;
    background-color: white;
    box-shadow: 1em .9em 2em gray;
    border-radius: 1em;
}

#quote {
    font-size: 2em;
    position: relative;
    padding: 1em;
}

span {
    display: inline-block;
    text-align: end;
    font-size: 1.5em;
}

label {
    font-weight: bold;
}

button {
    margin: auto;
    margin-top: .8em;
    display: block;
    border-radius: 1em;
    padding: .3em;
    transition-duration: .2s;
    font-size: .8em;
    background-color: white;
}

#btn:active {
    transform: scale(1.05);
}

#btn:hover {
    background-color: darkgoldenrod;
    color: white;
}